a {
	text-decoration: none;
}

body {
	font-family: Cabin, 'sans-serif';
	text-align: center;
}

ul {
	list-style: none;
}

.close {
	cursor: pointer;
	left: 40px;
	position: absolute;
	text-transform: uppercase;
	top: 20px;
}

.font-large {
	font-size: 40px;
}

.font-medium {
	font-size: 18px;
}

.font-small {
	font-size: 14px;
}

.font-tiny {
	font-size: 12px;
}

.thumbnail {
	border: 5px solid transparent;
	cursor: pointer;
	display: inline-block;
	margin: 5px;
}

.thumbnail:hover {
	border-color: rgba(75, 183, 76, 1);
}

.thumbnail_image {
	display: block;
}

.toggle {
	border: 1px solid;
	cursor: pointer;
	display: inline-block;
	margin: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
}

.toggle:hover {
	border-color: rgba(75, 183, 76, 1);
	color: rgba(75, 183, 76, 1);
}

.lightbox {
	background: rgba(0,0,0,0.9);
	bottom: 0;
	color: #fff;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
}

#lightboxImage{
	border: 5px solid rgba(255, 255, 255, 0.6);
}