body {
	font-family: Cabin, 'sans-serif';
	text-align: center;
}

a {
	text-decoration: none;
}

.footer{
	bottom: 10px;
	font-size: 12px;
	left: 10px;
	position: absolute;
}

.imageThumbnails {
	list-style: none;
	margin: none;
	padding: none;
}

.instructions {
	font-size: 14px;
}

.thumbnail {
	border: 5px solid transparent;
	cursor: pointer;
	display: inline-block;
	margin: 5px;
}

.thumbnail:hover {
	border-color: rgba(75, 183, 76, 1);
}

.thumbnailImage {
	display: block;
}

.toggle {
	border: 1px solid;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	margin: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
}

.toggle:hover {
	border-color: rgba(75, 183, 76, 1);
	color: rgba(75, 183, 76, 1);
}

.lightbox {
	background: rgba(0,0,0,0.9);
	bottom: 0;
	color: #fff;
	display: none;
	font-size: 14px;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
}

/*Display lightbox when anchor tag is activated
.lightbox:target{
	display: inline-block;
}*/

#lightboxImage{
	border: 5px solid rgba(255, 255, 255, 0.6);
}

#lightboxTitle {
	font-size: 40px;
}